<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name = "myConnection" connectionString ="Data Source=DESKTOP-BDHUEEA;Initial Catalog=Inlämingsuppgift 1, Annons-Handel;Integrated Security=True; MultipleActiveResultSets=true;"/>
	</connectionStrings>
</configuration>